<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Project Manager
  </h1> 
</div>
<br/>
  <div class="container-fluid app-padding">

    <ul class="nav nav-tabs">
      <!-- <li><a href="#"><b>Project Manager</b></a></li> -->
      <li class="active"><a routerLink = "AddUser">Add User</a></li>
      <li><a routerLink = "AddTask">Add Task</a></li>
      <li><a routerLink = "AddProject">Add Project</a></li> 
      <li><a routerLink = "ViewTask">View Task</a></li>
    </ul>
    
  </div>
<br/>
<div class="container-fluid app-padding">
  <router-outlet></router-outlet>
</div>